{% extends 'base.html.twig' %}

{% block sectiontitle %}Demora nยบ{{ delay.id }} ({{ delay.remodeling.address }}){% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}